<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shot Caller</title>
</head>

<body style="background-color: #353839;">

    <h2 style="text-align:center; color:white">Server Error</h2>
    <h2 style="text-align:center; color:white">
        Give it another shot.</h2>
    <h3 style="text-align:center;">
    <a style="color:rgb(104, 200, 230)" 
        href="{{ url_for('user_home', username=session['user']) }}">
        Back to Base &rarr; </a></h3>
    
</body>
</html>

            


