{% extends "base.html" %}
{% block content %}

    <!--top-box with red "Shot Caller" sides decoration-->
    <div class="row">
    <div class="col s1 offset-s1 m1 offset-m3">
        <div class="long-boxl">
            <p>S<br>H<br>O<br>T</p>
        </div>
    </div>
    <div class="col s6 offset-s1 m4">
        <div class="login-box">
            <div class="row">
                <div class="col s1 left-pad">
                <div class="smallPanel-l"></div>
                </div>
                <div class="col s11">
                <p class="username shadow-light1 center-align"><strong>Add Latest Shotlist</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col s1 offset-s1 m1">
        <div class="long-box right">
            <p>C<br>A<br>L<br>L<br>E<br>R</p>
        </div>
    </div>
    </div>
    <!--panel-left-->
    <div class="row">
    <div class="col s1">
        <div class="panel-left"></div>
    </div>

    <div class="col s10">

        <!--instructions-->
            <div class="row margintop-100">
                <div class="col s10 offset-s1 m8 offset-m2">
                    <p class="find antiquewhite center-align">To upload the latest shot list simply first upload and create an url for it with 
                    <span><a rel="noopener" class="link-color" href="https://cloudinary.com/" target="_blank">Cloudinary</a></span>
                    or a similar url generating site and enter the URL in the input box below. 
                    </p>
                </div>
            </div>

        <!--upload shot list form-->
        <div class="row">
            <form class="card-panel matt-black col s10 offset-s1 col m8 offset-m2" method="POST"
                action="{{ url_for('add_shot') }}">
                <!--enter shotlist src-->
                <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-book-open prefix blue-text text-darken-4"></i>
                    <input id="shot_name" name="shot_name" minlength="1" type="text" class="validate"
                        style="color:whitesmoke !important;" required>
                    <label for="shot_name">Enter Shot List SRC</label>
                </div>
                </div>
                <!--cancel-->
                <div class="row center-align">
                <a href="{{ url_for('user_home', username=session['user']) }}"
                    class="col s4 offset-s2 btn-small text-shadow">
                <strong>Cancel </strong>
                </a>
                <!--submit-->
                <button type="submit" class="col s4 btn-small text-shadow">
                <strong>Update </strong>
                </button>
                </div>
            </form>
        </div>
    </div>

    <!--panel right-->
    <div class="col s1">
        <div class="panel-right"></div>
    </div>
    </div>

{% endblock %}