{% extends "base.html" %}
{% block content %}

    <!--top-box with red "Shot Caller" sides decoration-->
    <div class="row">
        <div class="col s1 offset-s1 m1 offset-m3">
            <div class="long-boxl">
                <p>S<br>H<br>O<br>T</p>
            </div>
        </div>
        <div class="col s6 offset-s1 m4">
            <div class="login-box">
                <div class="row">
                    <div class="col s1 left-pad">
                        <div class="smallPanel-l"></div>
                    </div>
                    <div class="col s11">
                        <p class="username shadow-light1 center-align"><strong>{{ dep}}</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s1 offset-s1 m1">
            <div class="long-box right">
                <p>C<br>A<br>L<br>L<br>E<br>R</p>
            </div>
        </div>
    </div>
    <!--panel-left-->
    <div class="row">
        <div class="col s1">
            <div class="panel-left"></div>
        </div>
        <!--main-->
        <div class="col s10">
            <!---check for latest departments messages button-->
            <div class="row">
                <div class="col s12 margintop-10 center-align find">
                    <h5 class="center-align antiquewhite">Get all department's latest updates</h5>
                    <a class="pad-20 btn-small offwhite blueBack-sea text-shadow" href="{{ url_for('get_depts') }}">
                        <strong> Departments</strong> </a>
                </div>
            </div>
            <hr class="red-line margintop-20 ">
            <h5 class="margintop-20 center-align antiquewhite">Latest Updates</h5>
            <!--messages-->
            <div class="row">
                <div class="col s12 m10 offset-m1">
                    <ul class="collapsible collapsible-border">
                        {% for message in depart %}
                        <li>
                            <div class="collapsible-header matt-black offwhite">
                                <div class="col s2">
                                    <i class="fas fa-caret-down"></i>
                                    {% if message.is_priority == "on" %}
                                    <i class=" blue-sea fas fa-exclamation-circle tooltipped" data-position="right"
                                        data-tooltip="PRIORITY!"></i>
                                    {% endif %}
                                </div>
                                <div class="col s6">
                                    <strong><span class="caps">{{ message.poster }}</span></strong>&nbsp; &nbsp; - &nbsp;
                                    &nbsp; {{ message.job_title }}
                                </div>
                                <div class="col s4">
                                    {{ message.subject }}
                                </div>
                            </div>
                            <div class="collapsible-body matt-black offwhite">
                                <p><span class="span-mes">From: &nbsp;</span> <strong><span class="caps">{{ message.poster }}</span></strong>
                                    &nbsp;
                                    &nbsp; &nbsp; &nbsp;
                                    <span class="span-mes">Position: &nbsp; &nbsp;</span> {{ message.job_title }}&nbsp;
                                    &nbsp;
                                    <span class="span-mes">Sent: &nbsp; &nbsp;</span> {{ message.date }}
                                </p>
                                <p><span class="span-mes"><strong>MESSAGE:</strong></span></p>
                                <p class="">{{ message.message }}</p>
                                <!-- Message image-->
                                {% if message.image_src %}
                                <!-- Loop to run if user has set an image name so alt can use it-->
                                {% if message.image_name %}
                                <div class="row margintop-20">
                                    <div class="col s10 m6">
                                        <div class="message-pic">
                                            <!-- Display image or on error display default message image-->
                                            <img src=" {{ message.image_src }} "
                                                onerror="this.onerror=null; this['aria-label']='Image not found. If poster check URL'; this.src=`{{ url_for('static', filename='css/images/im-er.png') }}`"
                                                alt="{{ message.image_name }}">
                                            <p> {{ message.image_name }} </p>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <!-- Loop to run if user has not set an image name so alt can use default one-->
                                <div class="row margintop-20">
                                    <div class="col s10 m6">
                                        <div class="message-pic">
                                            <!-- Display image or on error display default message image-->
                                            <img src=" {{ message.image_src }} "
                                                onerror="this.onerror=null; this['aria-label']='Image not found. If poster check URL'; this.src=`{{ url_for('static', filename='css/images/im-er.png') }}`"
                                                alt="Image">
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endif %}
                                <!--edit/delete-->
                                {% if session.user|lower == message.username|lower or session.user|lower == "admin2"|lower %}
                                <a href="{{ url_for('edit_message', depart=message.dept_name, user=message.username, message_id=message._id) }}"
                                    class="btn-small blueBack-sea">
                                    Edit <i class="fas fa-pen-fancy"></i></a>
                                <button data-target="modal{{ loop.index }}" class=" right blueBack-sea btn modal-trigger">Delete</button>
                                <!-- Modal Structure -->
                                <div id="modal{{ loop.index }}" class="modal">
                                    <div class="modal-content">
                                        <h3 class="center-align crimson"><strong>Are you sure you want to delete this
                                                message?</strong></h3>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ url_for('delete_message', depart=message.dept_name, user=message.username, message_id=message._id) }}"
                                            class="pad-50 modal-close left btn-small blueBack-sea">OK</a>
                                        <a href="#" class="pad-50 modal-close btn-small blueBack-sea">No</a>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!--panel right-->
        <div class="col s1">
            <div class="panel-right"></div>
        </div>
    </div>

{% endblock %}