{% extends "base.html" %}
{% block content %}

    <!--top-box with red "Shot Caller" sides decoration-->
    <div class="row">
    <div class="col s1 offset-s1 m1 offset-m3">
        <div class="long-boxl">
            <p>S<br>H<br>O<br>T</p>
        </div>
    </div>
    <div class="col s6 offset-s1 m4">
        <div class="login-box">
            <div class="row">
                <div class="col s1 left-pad">
                <div class="smallPanel-l"></div>
                </div>
                <div class="col s11">
                <p class="username shadow-light1 center-align"><strong>Remove User</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col s1 offset-s1 m1">
        <div class="long-box right">
            <p>C<br>A<br>L<br>L<br>E<br>R</p>
        </div>
    </div>
    </div>
    <!--panel-left-->
    <div class="row">
    <div class="col s1">
        <div class="panel-left"></div>
    </div>
    <div class="col s10">
        <div class="row">
            <div class="col s12">
                <h3 class="center-align offwhite">DISPLAY ONLY</h3>
                <div class="center-align ">
                <a href="{{ url_for('user_home', username=session['user']) }}"
                    class="btn-small text-shadow">
                <strong>Guest Return </strong></a>
                </div>
            </div>
        </div>

        <!--instructions-->
            <div class="row margintop-20">
                <div class="col s10 offset-s1 m8 offset-m2">
                    <p class="find antiquewhite center-align">To remove a user input user's First name
                        then user's Last Name and hit submit. To find these look on an message they sent
                        as these name are linked to their register form.
                    </p>
                </div>
            </div>

        <div class="row">
            <!--remove user form-->
            <div class="card-panel matt-black col s10 offset-s1 col m8 offset-m2">
                <!--first name-->
                <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-minus prefix blue-text text-darken-4"></i>
                    <input id="first_name" name="first_name" minlength="1" type="text" class="validate"
                        style="color:whitesmoke !important;" required>
                    <label for="first_name">First Name</label>
                </div>
                </div>
                <!--last name-->
                <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-minus prefix blue-text text-darken-4"></i>
                    <input id="last_name" name="last_name" minlength="1" type="text" class="validate"
                        style="color:whitesmoke !important;" required>
                    <label for="last_name">Last Name</label>
                </div>
                </div>
                <!--cancel-->
                <div class="row center-align">
                <a href="{{ url_for('user_home', username=session['user']) }}"
                    class="btn-small text-shadow">
                <strong>Cancel </strong>
                </a>
                <!--submit-->
                <a href="{{ url_for('user_home', username=session['user']) }}"
                    class="btn-small text-shadow">
                <strong>Submit </strong></a>
                </div>
            </div>
        </div>
    </div>
    <!--panel right-->
    <div class="col s1">
        <div class="panel-right"></div>
    </div>
    </div>

{% endblock %}