{% extends "base.html" %}
{% block content %}

    <!--top-box with red "Shot Caller" sides decoration-->
    <div class="row">
    <div class="col s1 offset-s1 m1 offset-m3">
        <div class="long-boxl">
            <p>S<br>H<br>O<br>T</p>
        </div>
    </div>
    <div class="col s6 offset-s1 m4">
        <div class="login-box">
            <div class="row">
                <div class="col s1 left-pad">
                <div class="smallPanel-l"></div>
                </div>
                <div class="col s11">
                <p class="username shadow-light1 center-align"><strong>{{ username}}'s Base </strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col s1 offset-s1 m1">
        <div class="long-box right">
            <p>C<br>A<br>L<br>L<br>E<br>R</p>
        </div>
    </div>
    </div>
    <!--panel-left-->
    <div class="row">
    <div class="col s1">
        <div class="panel-left"></div>
    </div>
    <div class="col s10">
        <!---admin section (only display if sesson user is admin)-->
        {% if session.user|lower == "admin"|lower %}
        <hr class="red-line">
        <h5 class="center-align antiquewhite">Admin</h5>
        <div class="row">
            <!---remove user-->
            <div class="col s12 m6 margintop-10 center-align find">
                <a class="btn-small pad-30 offwhite blueBack-sea text-shadow" href="{{ url_for('remove_user') }}">
                <strong>Remove User</strong></a>
            </div>
            <!---upload latest script-->
            <div class="col s12 m6 margintop-10 center-align find">
                {% for draft in script %}
                <a class="btn-small pad-25 offwhite blueBack-sea text-shadow" href="{{ url_for('add_script', script_id=draft._id) }}">
                <strong>Upload Script</strong></a>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <!---upload latest shotlist-->
            <div class="col s12 m6 center-align margintop-10 find">
                <a class="btn-small offwhite blueBack-sea text-shadow" href="{{ url_for('add_shot') }}">
                <strong> Upload Shot List</strong></a>
            </div>
            <!---upload new images-->
            <div class="col s12 m6 center-align margintop-10 find">
                <a class="btn-small pad-22 offwhite blueBack-sea text-shadow" href="{{ url_for('add_image') }}">
                <strong> Upload Images</strong></a> 
            </div>
        </div>
        {% endif %} 
        <!---check for urgent production messages button-->
        <div class="row">
            <div class="col s12 margintop-10 center-align find">
                <h5 class="center-align antiquewhite">Get latest production updates</h5>
                <a class="pad-20 btn-small white-text blueBack-sea text-shadow" href="{{ url_for('get_pro') }}">
                <strong> Latest Updates</strong> </a>
            </div>
        </div>
        <hr class="red-line margintop-20">
        <!--Departments-->
        <div class="row">
            <div class="col s12 m8 offset-m2">
                <h5 class="white-text center-align">
                Choose Department
                </h5>
            </div>
        </div>
        <div class="row margintop-20">
            <div class="col s12 m8 offset-m2">
                <div class="row">
                {% for dept in depts %}
                <div class="col s4 center-align">
                    <div class="loop-box">
                        <a href="{{ url_for('get_dep', dep=dept.dept_name) }}">
                            <img width="250" height="166" class="dep-img" src="{{ dept.dept_url }}" alt="{{ dept.dept_name }}">                    
                            <p class="center-align offwhite">{{ dept.dept_title }}</p>
                        </a>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <hr class="red-line">
        <!---add message and search image links-->
        <div class="row margintop-50">
            <div class="col s12 m4 offset-m2 center-align find">
                <a class="btn-small pad-32 white-text blueBack-sea text-shadow" href="{{ url_for('add_message') }}">
                <strong>Add Message</strong>  </a>
            </div>
            <div class="col s12 m4 center-align find">
                <a class="btn-small pad-25 white-text blueBack-sea text-shadow" href="{{ url_for('get_image') }}">
                <strong> Search Images</strong></a>
            </div>
        </div>
        <!---downloads--> 
        <div class="row margintop-20">
            <div class="col s6">
                <div class="left">
                <h5 class="center-align find">
                    {% for draft in script %}
                    <a class="link-color" href="{{ draft.script}}">
                    <strong>
                    Download Latest Script <i class="fas fa-angle-right"></i></strong></a>
                    {% endfor %}  
                </h5>
                </div>
            </div>
            <div class="col s6">
                <div class="right">
                <h5 class="center-align find">
                    {% for shot in shotlist %}
                    <a class="link-color" href="{{ shot.shotlist}}">
                    <strong>
                    Download Latest Shot List <i class="fas fa-angle-right"></i></strong></a>
                    {% endfor %}  
                </h5>
                </div>
            </div>
        </div>
        <hr class="red-line margintop-10">
    </div>
    <div class="col s1 panel-pad">
        <div class="panel-right"></div>
    </div>
    </div>

{% endblock %}